<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculations">Calculations</a>
        <ul>
            <li><a href="/calculations/descriptive">Descriptive Statistics</a></li>
            <li><a href="/calculations/linear">Linear Regression</a></li>
            <li><a href="/calculations/anova">ANOVA</a></li>
            <li><a href="/calculations/condifence">Confidence Interval</a></li>
        </ul></li>
        <li><a href="/datasets">Datasets</a></li>
        <li><a href="/how_to_use">How to Use</a></li>
        <li><a href="/history">History</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>